[submodule "test/Catch"]
	path = test/Catch
	url = https://github.com/philsquared/Catch
[submodule "include/circular_buffer/config"]
	path = include/circular_buffer/config
	url = https://github.com/boostorg/config
